<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="col-sm-12">
		<div class="ibox">
			<div class="ibox-body">
				<div class="fixed-table-toolbar">
					<div class="columns pull-left">
						<button shiro:hasPermission="system:saleShuntConfig:add" type="button" class="btn  btn-primary" onclick="add()">
							<i class="fa fa-plus" aria-hidden="true"></i>添加
						</button>
						<button shiro:hasPermission="system:saleShuntConfig:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
							<i class="fa fa-trash" aria-hidden="true"></i>删除
						</button>
					</div>
					<div class="columns pull-right">
						<button class="btn btn-success" onclick="reLoad()">查询</button>
					</div>
					<div class="columns pull-right col-md-6 nopadding">
						<input class="input-medium search-query form-control columns pull-left col-md-1" placeholder="开始时间" id="startTime" type="text" style="width:160px"  data-date-format="yyyy-mm-dd hh:ii:ss" readonly/>
						<span class="columns pull-left col-md-1" style="width: 20px;"> ~ </span>
						<input class="input-medium search-query form-control columns pull-left col-md-1" placeholder="结束时间" id="endTime" type="text" style="width:160px"  data-date-format="yyyy-mm-dd hh:ii:ss" readonly/>
					</div>
					<div class="columns pull-right col-md-2 nopadding">
						<select id="saleId" name="saleId" class="form-control">
							<option value="">请选择客服编号</option>
							<option th:each="appUser:${appUserDOList}" th:value="${appUser.id}" th:text="${appUser.mobile}"></option>
						</select>
					</div>
					<div class="columns pull-right col-md-2 nopadding">
						<select id="shuntSwitch" class="form-control">
							<option value="">开关状态</option>
							<option value="0">关闭</option>
							<option value="1">开启</option>
						</select>
					</div>
				</div>
				<div class="columns col-md-2">
					分流用户总数：
					<span id="totalCount"></span>
				</div>
				<table id="exampleTable" data-mobile-responsive="true">
				</table>
			</div>
		</div>
	</div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
	<script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
	</script>
</div>
<div shiro:hasPermission="system:saleShuntConfig:edit">
	<script type="text/javascript">
        s_edit_h = '';
	</script>
</div>
<div shiro:hasPermission="system:saleShuntConfig:remove">
	<script type="text/javascript">
        var s_remove_h = '';
	</script>
</div>
<div shiro:hasPermission="system:saleShuntConfig:resetPwd">
	<script type="text/javascript">
        var s_resetPwd_h = '';
	</script>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/system/saleShuntConfig/saleShuntConfig.js"></script>
</body>
</html>