<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-3 control-label">用户id：</label>
								<div class="col-sm-8">
									<input id="userId" name="userId" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">理财产品id：</label>
								<div class="col-sm-8">
									<input id="productId" name="productId" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">状态 1-未到期 2-已到期 3-提前赎回：</label>
								<div class="col-sm-8">
									<input id="orderStatus" name="orderStatus" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">本金：</label>
								<div class="col-sm-8">
									<input id="amount" name="amount" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">购买日期：</label>
								<div class="col-sm-8">
									<input id="buyDate" name="buyDate" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">理财结束时间：</label>
								<div class="col-sm-8">
									<input id="lastDate" name="lastDate" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">每日利息：</label>
								<div class="col-sm-8">
									<input id="dayInterest" name="dayInterest" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">总利息：</label>
								<div class="col-sm-8">
									<input id="totalInterest" name="totalInterest" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">提前退出手续费：</label>
								<div class="col-sm-8">
									<input id="calledAmount" name="calledAmount" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">提前退出时间：</label>
								<div class="col-sm-8">
									<input id="calledTime" name="calledTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">更新时间：</label>
								<div class="col-sm-8">
									<input id="updateTime" name="updateTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">理财产品名称：</label>
								<div class="col-sm-8">
									<input id="productName" name="productName" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">日利率：</label>
								<div class="col-sm-8">
									<input id="dayRate" name="dayRate" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">年利率：</label>
								<div class="col-sm-8">
									<input id="yearRate" name="yearRate" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">锁定天数：</label>
								<div class="col-sm-8">
									<input id="lockDays" name="lockDays" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">提前赎回手续费比例：</label>
								<div class="col-sm-8">
									<input id="calledRate" name="calledRate" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/financialOrder/add.js">
	</script>
</body>
</html>
