<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
						<select id="applyStatus" class="form-control">
							<option value="">提现订单状态</option>
							<option value="1">待审核</option>
							<option value="2">审核成功</option>
							<option value="99">审核失败</option>
						</select>
						</div>
						<button type="button" class="btn  btn-primary"
								onclick="batchAuditSuccess()">
							<i class="fa" aria-hidden="true"></i>批量审批通过
						</button>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="userId" type="text" class="form-control" placeholder="用户id">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="saleNo" type="text" class="form-control" placeholder="运营编号">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="mobile" type="text" class="form-control" placeholder="手机号">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="id" type="text" class="form-control" placeholder="提现订单id">
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div>
		<script type="text/javascript">
            var audit_success_b = 'hidden';
            var audit_fail_b = 'hidden';
		</script>
	</div>
	<div shiro:hasPermission="system:withdrawal:auditFail">
		<script type="text/javascript">
            audit_fail_b = '';
		</script>
	</div>
	<div shiro:hasPermission="system:withdrawal:auditSuccess">
		<script type="text/javascript">
            audit_success_b = '';
		</script>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/system/withdrawal/withdrawalList.js"></script>
</body>
</html>