<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="system:balance:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="system:balance:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<select id="status" class="form-control">
								<option value="">全部订单状态</option>
								<option value="1">等待</option>
								<option value="2">成功</option>
								<option value="3">失败</option>
							</select>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<select id="type" class="form-control">
								<option value="">全部类型</option>
								<option value="1">刷单佣金</option>
								<option value="2">下级分佣</option>
								<option value="3">下级分佣首冲</option>
								<option value="4">理财赎回</option>
								<option value="5">刷单金额返还</option>
								<option value="6">充值</option>
								<option value="7">提现</option>
								<option value="8">刷单支付</option>
								<option value="9">购买理财</option>
								<option value="10">提现失败金额返还</option>
								<option value="11">系统人工增加余额</option>
								<option value="12">系统人工减少余额</option>
								<option value="13">注册活动赠送</option>
								<option value="14">下级注册活动赠送</option>
								<option value="15">充值活动赠送</option>
								<option value="16">红包奖励赠送</option>
							</select>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="userId" type="text" class="form-control" placeholder="用户id">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<select id="saleId" class="form-control">
								<option value="">运营人员</option>
								<option th:each="appUser:${appUserDOList}" th:value="${appUser.id}" th:text="${appUser.mobile}"></option>
							</select>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="orderNo" type="text" class="form-control" placeholder="订单号">
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="system:balance:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:balance:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:balance:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/system/balance/balance.js"></script>
</body>
</html>