<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.powerboot.system.dao.UserDao">

    <select id="get" resultType="com.powerboot.system.domain.UserDO">
		select `user_id`,`username`,`name`,`password`,`dept_id`,`email`,`mobile`,`status`,
		`user_id_create`,`app_user_id`,`gmt_create`,`gmt_modified`,`sex`,`birth`,`pic_id`,`live_address`,
		`hobby`,`province`,`city`,`district`,`team_flag`,`team_leader`,`leader_sys_id`
		from sys_user where user_id = #{value}
	</select>

    <select id="getByLeader" resultType="com.powerboot.system.domain.UserDO">
        select `user_id`,`username`,`name`,`password`,`dept_id`,`email`,`mobile`,`status`,
        `user_id_create`,`app_user_id`,`gmt_create`,`gmt_modified`,`sex`,`birth`,`pic_id`,`live_address`,
        `hobby`,`province`,`city`,`district`,`team_flag`,`team_leader`,`leader_sys_id`
        from sys_user where leader_sys_id = #{value}
    </select>

    <select id="list" resultType="com.powerboot.system.domain.UserDO">
        select
        `user_id`,`username`,`name`,`password`,`dept_id`,`email`,`mobile`,`status`,
        `user_id_create`,`app_user_id`,`gmt_create`,`gmt_modified`,`sex`,`birth`,`pic_id`,
        `live_address`,`hobby`,`province`,`city`,`district`,`team_flag`,`team_leader`,`leader_sys_id`
        from sys_user
        <where>
            <if test="teamFlag != null and teamFlag != ''">and team_flag = #{teamFlag}</if>
            <if test="teamLeader != null and teamLeader != ''">and team_leader = #{teamLeader}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="username != null and username != ''">and username = #{username}</if>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="password != null and password != ''">and password = #{password}</if>
            <if test="deptId != null and deptId != ''">and dept_id = #{deptId}</if>
            <if test="deptIds != null and deptIds.size() > 0">and dept_id in
                <foreach collection="deptIds" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="email != null and email != ''">and email = #{email}</if>
            <if test="mobile != null and mobile != ''">and mobile = #{mobile}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="userIdCreate != null and userIdCreate != ''">and user_id_create = #{userIdCreate}</if>
            <if test="gmtCreate != null and gmtCreate != ''">and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null and gmtModified != ''">and gmt_modified = #{gmtModified}</if>
            <if test="sex != null and sex != ''">and sex = #{sex}</if>
            <if test="birth != null and birth != ''">and birth = #{birth}</if>
            <if test="picId != null and picId != ''">and pic_id = #{picId}</if>
            <if test="liveAddress != null and liveAddress != ''">and live_address = #{liveAddress}</if>
            <if test="hobby != null and hobby != ''">and hobby = #{hobby}</if>
            <if test="province != null and province != ''">and province = #{province}</if>
            <if test="city != null and city != ''">and city = #{city}</if>
            <if test="district != null and district != ''">and district = #{district}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by user_id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from sys_user
        <where>
            <if test="teamFlag != null and teamFlag != ''">and team_flag = #{teamFlag}</if>
            <if test="teamLeader != null and teamLeader != ''">and team_leader = #{teamLeader}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="username != null and username != ''">and username = #{username}</if>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="password != null and password != ''">and password = #{password}</if>
            <if test="deptId != null and deptId != ''">and dept_id = #{deptId}</if>
            <if test="email != null and email != ''">and email = #{email}</if>
            <if test="mobile != null and mobile != ''">and mobile = #{mobile}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="userIdCreate != null and userIdCreate != ''">and user_id_create = #{userIdCreate}</if>
            <if test="gmtCreate != null and gmtCreate != ''">and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null and gmtModified != ''">and gmt_modified = #{gmtModified}</if>
            <if test="sex != null and sex != ''">and sex = #{sex}</if>
            <if test="birth != null and birth != ''">and birth = #{birth}</if>
            <if test="picId != null and picId != ''">and pic_id = #{picId}</if>
            <if test="liveAddress != null and liveAddress != ''">and live_address = #{liveAddress}</if>
            <if test="hobby != null and hobby != ''">and hobby = #{hobby}</if>
            <if test="province != null and province != ''">and province = #{province}</if>
            <if test="city != null and city != ''">and city = #{city}</if>
            <if test="district != null and district != ''">and district = #{district}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.powerboot.system.domain.UserDO" useGeneratedKeys="true" keyProperty="userId">
		insert into sys_user
		(
			`username`, 
			`name`, 
			`password`, 
			`dept_id`, 
			`email`, 
			`mobile`, 
			`status`, 
			`user_id_create`,
			`app_user_id`,
			`gmt_create`, 
			`gmt_modified`, 
			`sex`, 
			`birth`, 
			`pic_id`, 
			`live_address`, 
			`hobby`, 
			`province`, 
			`city`, 
			`district`
		)
		values
		(
			#{username}, 
			#{name}, 
			#{password}, 
			#{deptId}, 
			#{email}, 
			#{mobile}, 
			#{status}, 
			#{userIdCreate},
			#{appUserId},
			#{gmtCreate}, 
			#{gmtModified}, 
			#{sex}, 
			#{birth}, 
			#{picId}, 
			#{liveAddress}, 
			#{hobby}, 
			#{province}, 
			#{city}, 
			#{district}
		)
	</insert>

    <update id="updatePwdByUserName" parameterType="com.powerboot.system.domain.UserDO">
        update sys_user set `password` = #{password}
        where username = #{username}
    </update>

    <update id="update" parameterType="com.powerboot.system.domain.UserDO">
        update sys_user
        <set>
            <if test="username != null">`username` = #{username},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="password != null">`password` = #{password},</if>
            <if test="deptId != null">`dept_id` = #{deptId},</if>
            <if test="email != null">`email` = #{email},</if>
            <if test="mobile != null">`mobile` = #{mobile},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="userIdCreate != null">`user_id_create` = #{userIdCreate},</if>
            <if test="appUserId != null">`app_user_id` = #{appUserId},</if>
            <if test="gmtCreate != null">`gmt_create` = #{gmtCreate},</if>
            <if test="gmtModified != null">`gmt_modified` = #{gmtModified},</if>
            <if test="sex != null">`sex` = #{sex},</if>
            <if test="birth != null">`birth` = #{birth},</if>
            <if test="picId != null">`pic_id` = #{picId},</if>
            <if test="liveAddress != null">`live_address` = #{liveAddress},</if>
            <if test="hobby != null">`hobby` = #{hobby},</if>
            <if test="province != null">`province` = #{province},</if>
            <if test="city != null">`city` = #{city},</if>
            <if test="district != null">`district` = #{district},</if>
            <if test="teamLeader != null">`team_leader` = #{teamLeader}</if>
        </set>
        where user_id = #{userId}
    </update>

    <update id="updateByParam">
        update sys_user
        <set>
            <if test="entity.username != null">`username` = #{entity.username},</if>
            <if test="entity.name != null">`name` = #{entity.name},</if>
            <if test="entity.password != null">`password` = #{entity.password},</if>
            <if test="entity.deptId != null">`dept_id` = #{entity.deptId},</if>
            <if test="entity.email != null">`email` = #{entity.email},</if>
            <if test="entity.mobile != null">`mobile` = #{entity.mobile},</if>
            <if test="entity.status != null">`status` = #{entity.status},</if>
            <if test="entity.userIdCreate != null">`user_id_create` = #{entity.userIdCreate},</if>
            <if test="entity.gmtCreate != null">`gmt_create` = #{entity.gmtCreate},</if>
            <if test="entity.gmtModified != null">`gmt_modified` = #{entity.gmtModified},</if>
            <if test="entity.sex != null">`sex` = #{entity.sex},</if>
            <if test="entity.birth != null">`birth` = #{entity.birth},</if>
            <if test="entity.picId != null">`pic_id` = #{entity.picId},</if>
            <if test="entity.liveAddress != null">`live_address` = #{entity.liveAddress},</if>
            <if test="entity.hobby != null">`hobby` = #{entity.hobby},</if>
            <if test="entity.province != null">`province` = #{entity.province},</if>
            <if test="entity.city != null">`city` = #{entity.city},</if>
            <if test="entity.district != null">`district` = #{entity.district},</if>
            <if test="entity.teamLeader != null">`team_leader` = #{entity.teamLeader},</if>
            <if test="entity.leaderSysId != null">`leader_sys_id` = #{entity.leaderSysId}</if>
        </set>
        <where>
            <if test="param.leaderSysId != null and param.leaderSysId != ''">and leader_sys_id = #{param.leaderSysId}</if>
            <if test="param.teamFlag != null and param.teamFlag != ''">and team_flag = #{param.teamFlag}</if>
            <if test="param.teamLeader != null and param.teamLeader != ''">and team_leader = #{param.teamLeader}</if>
            <if test="param.userId != null and param.userId != ''">and user_id = #{param.userId}</if>
            <if test="param.userIdList != null and param.userIdList.size()>0">
                and user_id in
                <foreach collection="param.userIdList" separator="," open="(" close=")" item="userId">
                    #{userId}
                </foreach>
            </if>
            <if test="param.username != null and param.username != ''">and username = #{param.username}</if>
            <if test="param.name != null and param.name != ''">and name = #{param.name}</if>
            <if test="param.password != null and param.password != ''">and password = #{param.password}</if>
            <if test="param.deptId != null and param.deptId != ''">and dept_id = #{param.deptId}</if>
            <if test="param.email != null and param.email != ''">and email = #{param.email}</if>
            <if test="param.mobile != null and param.mobile != ''">and mobile = #{param.mobile}</if>
            <if test="param.status != null and param.status != ''">and status = #{param.status}</if>
            <if test="param.userIdCreate != null and param.userIdCreate != ''">and user_id_create = #{param.userIdCreate}</if>
            <if test="param.gmtCreate != null and param.gmtCreate != ''">and gmt_create = #{param.gmtCreate}</if>
            <if test="param.gmtModified != null and param.gmtModified != ''">and gmt_modified = #{param.gmtModified}</if>
            <if test="param.sex != null and param.sex != ''">and sex = #{param.sex}</if>
            <if test="param.birth != null and param.birth != ''">and birth = #{param.birth}</if>
            <if test="param.picId != null and param.picId != ''">and pic_id = #{param.picId}</if>
            <if test="param.liveAddress != null and param.liveAddress != ''">and live_address = #{param.liveAddress}</if>
            <if test="param.hobby != null and param.hobby != ''">and hobby = #{param.hobby}</if>
            <if test="param.province != null and param.province != ''">and province = #{param.province}</if>
            <if test="param.city != null and param.city != ''">and city = #{param.city}</if>
            <if test="param.district != null and param.district != ''">and district = #{param.district}</if>
        </where>
    </update>

    <delete id="remove">
		delete from sys_user where user_id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from sys_user where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <select id="listAllDept" resultType="long">
				select DISTINCT dept_id from sys_user
	</select>

    <select id="getUserRechargeAmount" resultType="java.math.BigDecimal">
        select sum(amount)
        from pay
        where user_id = #{id}
          and type=1
          and status=2
    </select>

</mapper>