<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="userId" name="userId" th:value="${userId}" type="hidden">
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">配置完毕点击提交</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">账号：</label>
                            <div class="col-sm-8">
                                <input id="username" name="username" th:value="${username}" class="form-control"
                                       type="text" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否团队长：</label>
                            <div class="col-sm-8">
                                <label><input type="radio" name="teamLeader" id="teamLeader" onclick="selectTeamLeader(1)"
                                              value="1" class="form-control" th:value="1" th:checked="${teamLeader==1}">是</label>
                                <label><input type="radio" name="teamLeader" id="teamLeader" onclick="selectTeamLeader(0)"
                                              value="0" class="form-control" th:value="0" th:checked="${teamLeader==0}">否</label>
                            </div>
                        </div>

                        <input type="hidden" name="teamUserIds" id="teamUserIds">
                        <div class="form-group" th:style="'visibility:'+${teamLeaderStyle}" id="teamUserDiv">
                            <label class="col-sm-3 control-label">选择团员：</label>
                            <div class="col-sm-8">
                                <label class="checkbox-inline" th:if="${user.userId!=userId}" th:each="user:${allUser}">
                                    <input  type="checkbox" name="teamUserId" th:value="${user.userId}"
                                   th:checked="${user.leaderSysId==userId}" th:text="${user.name}" />
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/system/team/setTeamLeaderEdit.js">
</script>
</body>
</html>
