<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="system:userEdit:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="system:userEdit:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<select id="blackFlag" class="form-control">
								<option value="">是否黑名单</option>
								<option value="0">否</option>
								<option value="1">是</option>
							</select>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="nikeName" type="text" class="form-control" placeholder="用户昵称">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="mobile" type="text" class="form-control" placeholder="手机号">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="parentId" type="text" class="form-control" placeholder="上级用户id">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<select id="saleId" class="form-control">
								<option value="">运营人员</option>
								<option th:each="appUser:${appUserDOList}" th:value="${appUser.id}" th:text="${appUser.mobile}"></option>
							</select>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="id" type="text" class="form-control" placeholder="用户id">
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'show';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="system:userEdit:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:userEdit:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:userEdit:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/system/userEdit/userEdit.js"></script>
</body>
</html>